input{
    border: 1px solid rgb(70, 66, 66);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 400PX;
    height: 42px;
    

    &:hover{
        border: 1px solid #ec5990;
    }
}
    .submit-form{
        background-color: #ec5990;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        height: 42px;
        border-radius: 8px;
        margin: 10px 15px;
        padding: 5px 10px;
    }
    .disable{
        opacity: 0.6;
    }

    input[type="radio"] {
        display: inline-block;
        height: 20px;
        width: 50px;
    }

    .text-radio{
        display: flex;
        align-items: center;
    }