.App {
  width: 100%;
  .main-header {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      border-bottom: 2px solid #ec5990;
      margin: 0;
      padding: 15px 0;
      li{
        .header-link{
          text-decoration: none;
        margin: 0 15px;
       
        }
        .active{
          color: #ec5990;
        }
      }
  }
  .main-section{
    display: flex;
    // align-items: baseline;
    height: 100vh;
    .sidebar-section{
      width: 20%;
      margin-right: 20px;
      border: 2px solid #313131;
      height: 100vh;
    }
  }

  .submit-form{
    background-color: #ec5990;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    height: 42px;
    border-radius: 8px;
    margin: 10px 15px;
    padding: 5px 24px;
}
.disable{
    opacity: 0.6;
}
.sidebar-section{
  li{
    margin: 0;
    list-style: none;
    border: 0.5px solid grey;
    padding: 5px 10px;
  }
 
}
.button-align{
  display: block;
  margin-left: auto;
  
}


}





